@model EventManagement.Models.Food

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="FoodType">Food Type</label>
                <input asp-for="FoodType" id="FoodType1" value="1" type="radio" />
                Veg
                <input asp-for="FoodType" id="FoodType2" value="2" type="radio" />
                Non-Veg
                <span asp-validation-for="FoodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Createdby" class="form-control" value="@User.Identity.Name" style="display:none;" />
            </div>
            <div class="form-group">
                <label asp-for="FoodCost" class="control-label"></label>
                <input asp-for="FoodCost" class="form-control" />
                <span asp-validation-for="FoodCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="MealType">Meal Type</label>
                <input asp-for="MealType" id="Radio1" value="1" type="radio" />
                Lunch
                <input asp-for="MealType" id="Radio2" value="2" type="radio" />
                Dinner
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
